.home{
   /* // background-color: aqua; */
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploadButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 3cm;
    background-color: antiquewhite;
}
.uploadInput{
    margin-top: 20px;
}